{% extends "base.html" %}
{% load humanize %}
{% block content %}

<!-- Display user name and warning -->
<div class="d-flex justify-content-between align-items-center mb-4">

    <h2>Welcome back, {{ request.user.username }} 😊👋</h2>
{% if warnings %}
<div class="alert alert-danger mt-3 shadow-sm">
    <ul class="mb-0">
        {% for w in warnings %}
        <li>{{ w }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


 <!-- Display buttons -->
<div>
<a href="{% url 'add_income' %}" class="btn btn-success me-2">
+ Income
</a>

<a href="{% url 'add_expense' %}" class="btn btn-danger">
+ Expense
</a>
</div>
</div>

<!-- Display results total -->
<div class="row">

<div class="col-md-4">
<div class="card text-white bg-success mb-3">
<div class="card-body">
<h5 class="card-title">Total Income</h5>
<h2>${{ total_income|floatformat:2|intcomma }}</h2>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card text-white bg-danger mb-3">
<div class="card-body">
<h5 class="card-title">Total Expense</h5>
<h2>${{ total_expense|floatformat:2|intcomma }}</h2>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card text-white bg-primary mb-3">
<div class="card-body">
<h5 class="card-title">Savings</h5>
<h2>${{ savings|floatformat:2|intcomma }}</h2>
</div>
</div>
</div>
<hr>

<div class="row">

<div class="col-md-6">
<div class="card p-3 mb-3">
<h5>Needs (50%)</h5>

<div class="progress mb-2">
  <div class="progress-bar bg-danger"
       style="width: {{ need_percent }}%">
    {{ need_percent|floatformat:0 }}%
  </div>
</div>

<p>$ {{ need_expense }}</p>

</div>
</div>

<div class="col-md-6">
<div class="card p-3 mb-3">
<h5>Wants (30%)</h5>

<div class="progress mb-2">
  <div class="progress-bar bg-warning"
       style="width: {{ want_percent }}%">
    {{ want_percent|floatformat:0 }}%
  </div>
</div>

<p>$ {{ want_expense }}</p>

</div>
</div>

</div>
</div>

<hr>

<hr>

<div class="row mt-4">

<!-- LEFT: CHART -->
<div class="col-md-6">
<div class="card p-3 mb-3">

<h4>Expense Breakdown</h4>

<canvas id="expenseChart" style="max-height:300px;"></canvas>

</div>
</div>


<!-- RIGHT: RECENT DATA -->
<div class="col-md-6">

<div class="card p-3 mb-3">
<h4>Recent Income</h4>
<a href="{% url 'income_list' %}" class="btn btn-outline-success btn-sm">
                View All
            </a>
<ul class="list-group">
{% for income in recent_incomes %}
<li class="list-group-item d-flex justify-content-between align-items-center">
    <span>
        {{ income.source }}
        <span class="text-success">+ ${{ income.amount|floatformat:2|intcomma }}</span>
    </span>

    <div>
        <a href="{% url 'edit_income' income.id %}" class="btn btn-sm btn-outline-primary">
            Edit
        </a>
        <a href="{% url 'delete_income' income.id %}" class="btn btn-sm btn-outline-danger">
            Delete
        </a>
    </div>
</li>
{% empty %}
<li class="list-group-item">No income yet</li>
{% endfor %}
</ul>
</div>



<div class="card p-3">
<h4>Recent Expenses</h4>
<a href="{% url 'expense_list' %}" class="btn btn-outline-danger btn-sm">
                View All
            </a>
<ul class="list-group">
{% for expense in recent_expenses %}
<li class="list-group-item d-flex justify-content-between align-items-center">
    <span>
        {{ expense.category }}
        <span class="text-danger">- ${{ expense.amount|floatformat:2|intcomma }}</span>
    </span>

    <div>
        <a href="{% url 'edit_expense' expense.id %}" class="btn btn-sm btn-outline-primary">
            Edit
        </a>
        <a href="{% url 'delete_expense' expense.id %}" class="btn btn-sm btn-outline-danger">
            Delete
        </a>
    </div>
</li>
{% empty %}
<li class="list-group-item">No expenses yet</li>
{% endfor %}
</ul>
</div>
</div>

</div>

<script>
const ctx = document.getElementById('expenseChart');

new Chart(ctx, {
    type: 'pie',
    data: {
        labels: {{ categories|safe }},
        datasets: [{
            data: {{ category_totals|safe }},
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false
    }
});
</script>


{% for message in messages %}
  <p style="color:red;">{{ message }}</p>
{% endfor %}
{% endblock %}